@import "variables.scss";

.date {
  display: flex;
  flex-direction: column;
  gap: 10px;

  & label {
    text-transform: uppercase;
    font-family: $fontPopins;
    color: $smokey-grey;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: 700;
  }

  & input {
    height: 50px;
    border: 1px solid $light-grey;
    padding-left: 20px;
    border-radius: 6px;
  }
  & input:focus {
    border-color: $purple;
    outline: none;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
