// Colors
$purple: hsl(259, 100%, 66%);
$light-red: hsl(0, 100%, 67%);

$white: hsl(0, 0%, 100%);
$off-white: hsl(0, 0%, 94%);
$light-grey: hsl(0, 0%, 86%);
$smokey-grey: hsl(0, 1%, 44%);
$off-black: hsl(0, 0%, 8%);

// Typography

$font-size: 32px;

// Font

$fontPopins: "https://fonts.google.com/specimen/Poppins";
